.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Calibri;
  padding: 3rem 0;
  height: 94px;
  width: 100%;
  font-size: 1.7rem;
  color: #000;
}

.header {
  width: 100%;
}