@import 'variables.sass'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: $backgroundColor
  background-image: url('./img/gfx-left-top2.png'), url('./img/gfx-top-right.png')
  background-size: 100px, 70px
  background-repeat: no-repeat, no-repeat
  background-position: left top, right 50px
.App
  text-align: center

.container
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  width: 100%

.input-output__container
  display: flex
  flex-direction: column
  align-items: center
  box-shadow: 0 8px 15px 0 rgba(100, 100, 100, .1)
  border-radius: 7px
  width: 95%
  max-width: 900px
  overflow: hidden
  position: relative
  
.input__container, .output__container
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  border: 0
  overflow: hidden
  width: 100%

.input__container
  border-radius: 7px 7px 0 0
  background-color: #fff
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .01)
  z-index: 100
.output__container
  border-radius: 0 0 7px 7px
  background-color: #fafafb

.input,
.output
  width: 100%
  min-height: 110px
  height: auto
  border: 0
  text-align: left
  padding: .5rem 1rem
  font-family: Arial
  font-size: 1rem
  margin-bottom: .5rem

.first-language, .second-language
  width: 100%
  height: 40px
  display: flex
  align-items: flex-start
  padding: 10px

.btn
  height: $btnSize
  width: $btnSize
  cursor: pointer
  transition: all 0.2s ease
  margin: 2rem 0
  color: #ffffff
  background-image: linear-gradient(to right, $gradientStart, $gradientEnd)
  border-radius: 50%
  border: none
  box-shadow: 0 3px 4px 0px #66666663

.btn:hover
  transform: translateY(1px)
  box-shadow: 0 1px 4px 0px #66666663

.btn-clicked
  animation: BtnClicked .4s ease forwards

@keyframes BtnClicked
  0%
    box-shadow: 0 1px 4px 0px rgba(100, 100, 150, .2)
  100%
    box-shadow: 0 1px 4px 30px rgba(100, 100, 150, 0)
  
a:link, a:visited, a:active
  color: $primeOrange
  text-decoration: none


.yandex-span
  padding: .5rem
  align-self: center
  text-align: center
  font-size: .7rem

.flag
  height: 20px
  width: 40px

.flag__container
  position: relative
  height: 27px
  width: 30px
  display: flex
  align-items: center
  justify-content: center
  background-color: $backgroundColor

.flag__overflow
  position: relative
  height: 20px
  width: 20px
  border-radius: 50%
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center

.active-language
  width: auto
  height: 27px
  border: none
  background-color: $backgroundColor
  padding: 5px 0
  font-weight: bold
  text-transform: capitalize
  font-size: 12px
  line-height: 14px

.middle
  position: absolute
  left: 50%
  top: 50%
  z-index: 201
  color: $arrowColor
  box-shadow: 5px 0 0 0 $shadowColor
  height: 50px
  width: 50px !important
  background-color: #ffffff
  border-radius: 50%
  transform: translate(-50%, -50%) rotate(90deg)
  padding: 10px
  